:root {
    --color-black: #000;
    --color-white: #fff;
    --color-light-gray: #edeef0;
    --color-primary: #34547a;
    --color-secondary: #727272;

    --font-family: 'Roboto', sans-serif;
    --font-size: 16px;
    --font-weight: 400;
    --line-height: 1.64;
    --line-height-sm: 1.4;

    --letter-spacing: 0.1em;

    --container-primary: 1110px;
    --container-secondary: 540px;

    --gap: 20px;
    --gap-sm: calc(var(--gap) / 2);
    --gap-lg: calc(var(--gap) * 1.5);
    --gap-xl: calc(var(--gap) * 2);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
}

h1 {
    font-size: 3rem;
    font-weight: 500;
    line-height: var(--line-height-sm);
}

h2 {
    font-weight: 500;
    font-size: 2rem;
    line-height: var(--line-height-sm);
}

a {
    text-decoration: none;
    color: var(--color-black);
}

.container {
    width: min(100% - var(--gap-xl), var(--container-primary));
    margin-inline: auto;
}

.container-sm {
    width: min(100% - var(--gap-xl), var(--container-secondary));
    margin-inline: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    background-color: var(--color-light-gray);
    min-height: 700px;
    padding-top: 69px;
    padding-bottom: 141px;
}

.navbar {
    margin-bottom: 141px;
}

.navbar__list {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
    margin-left: -0.75em;
}

.navbar__link {
    letter-spacing: var(--letter-spacing);
    padding: 0.5em 0.75em;
    text-transform: uppercase;
    display: block;
}

.navbar__link--active {
    color: var(--color-primary);
    font-weight: 500;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: var(--container-secondary);
}

.hero__title {
    margin-bottom: 40px;
    margin-top: 0;
}

.hero__description {
    margin-bottom: 57px;
    color: var(--color-secondary);
}

.hero__button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 225px;
    min-height: 65px;
    padding: 0.5em;
    background-color: var(--color-primary);
    color: var(--color-white);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
}

.about {
    background-color: var(--color-white);
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}


.section__title {
    margin-bottom: 36px;
}

.section__description {
    color: var(--color-secondary);
}

.experience {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--color-primary);
    color: var(--color-white);
}

.experience__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--gap-xl);
}

.experience__item {
    display: flex;
    gap: var(--gap);
}

.experience__item-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1;
}

.experience__item-number {
    font-size: 1.3125rem;
    font-weight: 500;
    margin-top: -1px;
}

<<<<<<< HEAD
.experience__item-label {}
=======
>>>>>>> 24705dc9495bb8d4e1658223b5bca01eea965b91

.experience__item-picture {
    order: -1;
}

.experience__item-image {
    display: block;
}

.process {
    background-color: var(--color-light-gray);
    padding-bottom: 57px;
}


.video {
    background-color: var(--color-light-gray);
    padding-bottom: 50px;
}

.video__iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border: 0;
    min-height: 200px;
}

.footer {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer__title {
    font-size: 1.3125rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.footer__description {
    font-size: 0.8125rem;
}
